<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdnEnMrULxuosV-gFVF3tPg76XabXkjMI</string>
	<key>GCM_SENDER_ID</key>
	<string>451011012873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usama.learnWithUsama</string>
	<key>PROJECT_ID</key>
	<string>leanwithusama</string>
	<key>STORAGE_BUCKET</key>
	<string>leanwithusama.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451011012873:ios:6f2cce4e6313370e5fcbd8</string>
</dict>
</plist>